html, body {
  width: 100%;
}

dl{
    width:100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}

dl dt{
  float: left;
  width: 150px;
  height:26px;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0;
  text-align: right;
}
dl dd{
  float: left;
  width: 66%;
  height:26px;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0
}

dd select {
  width:174px;
  height:100%;
}

select{
    height:26px;
}

input.narrow {
    width:80px;
}

.shot-splash {
  padding:15px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.SHOT {
  background-color: #4bff1e;
  color: black;
}

.SPLASH {
  background-color: #ff3a3a;
  color:white;
}

#directFire {
  position: absolute;
  display: inline;
  width: 100vw;
  top: 0;
  left: 0;
  padding-right:15px;
  padding-left: 15px;
}

@media(min-width:768px) {
  #directFire {
    position: absolute;
    display: inline;
    width: 100%; !important
    top: 0;
    left: 0;
    padding-right:15px;
    padding-left: 15px;
  }
}

#directFire .gunSelect {
  width: 100%;
}

#directFire .gunSelect button {
  width: 50%;
}

#directFire .range {
  width: 50%;
  margin-left: 25%;
}

.ui-slider {
  margin-top: 3em;
  margin-bottom: 3em;
}

.ui-slider .ui-slider-handle {
  -ms-touch-action: none;
  touch-action: none;
  width: 2.5em;
  height: 2.5em;
}

#directFire input.center-text {
  text-align: center;
}