dl{
    width:100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}

dl dt{
  float: left;
  width: 150px;
  height:26px;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0;
  text-align: right;
}
dl dd{
  float: left;
  width: 66%;
  height:26px;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0
}

dd select {
  width:174px;
  height:100%;
}

select{
    height:26px;
}

input.narrow {
    width:80px;
}

.shot-splash {
  padding:15px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.SHOT {
  background-color: #4bff1e;
  color: black;
}

.SPLASH {
  background-color: #ff3a3a;
  color:white;
}